.result {
  padding: 10px;
  margin: 10px;
  font-family: sans-serif;
  font-weight: bold;
  height: 60px;
  box-shadow: 3px 5px 10px #cdc9d6;
}

.field {
  margin: 10px 50px;
  font-size: 22px;
  text-align: center;
}

.field > .regex {
  border-bottom: solid 1px #cb560b;
}
