.selectable-regex {
  width: 500px;
  display: inline-block;
  font-size: 12px;
}

.selectable-meta {
  list-style-type: none;
  display: flex;
}

.regex-type-selector {
  margin-bottom: 10px;
  margin-right: 50px;
}

.add-regex-btn {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.add-regex-btn:hover {
  background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

button + button {
  margin-left: 10px;
}
